<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="Info">
    <listeners>
      <add name="Database Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" databaseInstanceName="EddyLogging" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="Text Formatter" traceOutputOptions="None" filter="All"/>
      <add name="Exception Database Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" databaseInstanceName="EddyLogging" writeLogStoredProcName="EDDY_WriteException" addCategoryStoredProcName="AddCategory" formatter="Exception Text Formatter"/>
      <add name="Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\Cheetah\Log Files\Log.log" header="" footer="" formatter="Text Formatter"/>
      <add name="Email TraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" toAddress="rkamenetskiy@EducationDynamics.com" fromAddress="DeliveryAlert@EducationDynamics.com" subjectLineStarter="Error - " subjectLineEnder="Delivery and Capping Engine Error on PROD !!!" smtpServer="165.212.65.102" smtpPort="25" formatter="Text Formatter" traceOutputOptions="None" filter="All"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Message: {message}{newline}&#xD;&#xA;" name="Text Formatter"/>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xD;&#xA;Message: {message}{newline}&#xD;&#xA;Category: {category}{newline}&#xD;&#xA;Priority: {priority}{newline}&#xD;&#xA;EventId: {eventid}{newline}&#xD;&#xA;Severity: {severity}{newline}&#xD;&#xA;Title:{title}{newline}&#xD;&#xA;Machine: {localMachine}{newline}&#xD;&#xA;App Domain: {localAppDomain}{newline}&#xD;&#xA;ProcessId: {localProcessId}{newline}&#xD;&#xA;Process Name: {localProcessName}{newline}&#xD;&#xA;Thread Name: {threadName}{newline}&#xD;&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Exception Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="Info">
        <listeners>
          <add name="Flat File Trace Listener"/>
          <add name="Email TraceListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Flat File Trace Listener"/>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Category">
        <listeners>
          <add name="Exception Database Trace Listener"/>
          <add name="Email TraceListener"/>
          <add name="Flat File Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Flat File Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="UserInterface Exception Policy No Rethrow">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="Category" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="DataAccess Exception Policy No Rethrow">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="Category" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <dataConfiguration defaultDatabase="Nexus"/>
  <connectionStrings>
    <add name="Nexus" connectionString="Data Source=cycle-sql1;Initial catalog=Nexus;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="EddyLogging" connectionString="Data Source=cycle-sql1;Initial Catalog=EddyLogging;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="EddyTracking" connectionString="Server=cycle-sql1;database=EddyTracking;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="EddyTrackingDb" value="EddyTracking"/>
    <add key="ServiceXAMLDirectory" value="C:\DEV\src\bin\"/>
    <add key="ServiceXAMLBaseAddress" value="http://localhost/EDDY.IS.DeliveryEngine.Workflow.Service/LeadProcessingDeliveryWorkflowService.xamlx"/>
    <add key="RetryServiceXAMLDirectory" value="C:\DEV\src\bin\"/>
    <add key="RetryServiceXAMLBaseAddress" value="http://localhost/EDDY.IS.DeliveryEngine.Workflow.Service/RetryLeadDeliveryWorkflowService.xamlx"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="RTDQ_Machine_Key" value="87133C9B-2C0F-494F-A4B4-5BC160A5A445"/>
    <add key="Process_RealTime_Lead_Delivery" value="true"/>
    <add key="Process_Retry_Lead_Delivery" value="FALSE"/>
    <add key="Number_Parallel_Processes" value="1"/>

    <add key="DeliverySMTPServer" value="gwsmtp.usa.net"/>
    <add key="DeliveryEmailFrom" value="test-leads@educationdynamics.com"/>
    <add key="BatchFilePath" value="c:\TestBatchDeliveries"/>
    <add key="DefaultRetryDelay" value="0"/>
    <add key="DefaultPOSTRetryAttempts" value="3"/>
    <add key="MachineKey" value="87133C9B-2C0F-494F-A4B4-5BC160A5A445"/>


    <add key="SMTPServer" value="165.212.65.102"/>
    <add key="SMTPPort" value="25"/>
    <add key="LocalFolder" value="C:\TestFileSave"/>
    <add key="OutlookProfile" value="ImportExport"/>
    <add key="ErrorAdminEmail" value="sgupte@educationDynamics.com"/>
    <add key="ErrorEmailSubject" value="Error Occured"/>
    <add key="EmailFrom" value="CheetahAlert@EducationDynamics.com"/>
    <add key="CompletionAlert" value="Logging Task has been completed successfully."/>
    <add key="DatabaseServer" value="EWRCHEELAB02,HOBSQL01\DEV01,HOBSQL01\DEV02\CHEETAH"/>
    <add key="LocalTimeZone" value="Eastern Standard Time"/>

    <add key="PreviewXAMLDirectory" value="C:\Projects\Delivery\src\svc\workflow\de\"/>
    <add key="PreviewXAMLBaseAddress" value="http://localhost/EDDY.IS.DeliveryEngine.Workflow.Service/LeadPreviewDeliveryWorkflowService.xamlx"/>

    <add key="IsBeta" value="false"/>
    <add key="IsDebugMode" value="true"/>

    <add key="EmailRetryMax" value="3"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRetryLeadDeliveryWorkflowService"
          closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
          sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false"
          hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8"
          transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ILeadProcessingDeliveryWorkflowService"
          closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
          sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false"
          hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8"
          transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_BatchLeadDeliveryWorkflowService" />
        <binding name="BasicHttpBinding_ILeadPreviewWorkflowNewService" />
        <binding name="BasicHttpBinding_ILeadProcessingDeliveryWorkflowService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/EDDY.IS.DeliveryEngine.Workflow.Service/LeadPreviewDeliveryWorkflowService.xamlx"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILeadPreviewWorkflowNewService"
        contract="LeadPreviewWorkflowService.ILeadPreviewWorkflowNewService"
        name="BasicHttpBinding_ILeadPreviewWorkflowNewService" />
      <endpoint address="http://localhost/EDDY.IS.DeliveryEngine.Workflow.Service/RetryLeadDeliveryWorkflowService.xamlx"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRetryLeadDeliveryWorkflowService"
        contract="RetryLeadDeliveryWorkflowService.IRetryLeadDeliveryWorkflowService"
        name="BasicHttpBinding_IRetryLeadDeliveryWorkflowService" />
      <endpoint address="http://localhost/EDDY.IS.DeliveryEngine.Workflow.Service/LeadProcessingDeliveryWorkflowService.xamlx"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILeadProcessingDeliveryWorkflowService"
        contract="LeadProcessingDeliveryWorkflowService.ILeadProcessingDeliveryWorkflowService"
        name="BasicHttpBinding_ILeadProcessingDeliveryWorkflowService" />
      <endpoint address="http://localhost/EDDY.IS.DeliveryEngine.Workflow.Service/BatchLeadDeliveryWorkflowService.xamlx"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BatchLeadDeliveryWorkflowService"
        contract="BatchLeadProcessingWorkflowService.BatchLeadDeliveryWorkflowService"
        name="BasicHttpBinding_BatchLeadDeliveryWorkflowService" />
    </client>
  </system.serviceModel>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
